<article itemscope itemtype="http://schema.org/CreativeWork">
  {{ if .Params.thumbnail }}
    <a href="{{ .RelPermalink }}"><img class="gallery-thumbnail" src="{{ .Site.BaseURL }}{{ .Params.thumbnail }}"></a>
  {{ end }}
  <header>
    <h2 itemprop="name">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ if eq .Type "post" }}
      <p class="muted">{{ partial "post/meta" . }}</p>
    {{ end }}
  </header>
  <meta itemprop="inLanguage" content="{{ .Site.LanguageCode }}">
  <meta itemprop="datePublished" content="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
  <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
  {{ with .Params.images }}
    <meta itemprop="image" content="{{ index . 0 }}">
  {{ end }}
</article>
