<p>
  Published
  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}
      by <span itemprop="author">{{ index . }}</span>
    {{ else }}
      by <span itemprop="author">{{ .Site.Params.author }}</span>
    {{ end }}
  {{ end }}
  <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
    {{ dateFormat "Jan 2, 2006" (default .Date (.PublishDate)) }}
  </time>
  {{ with .Params.categories }}
    in <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "post/category-link" ".") "chomp" ".") ", " " and " }}</span>
  {{ end }}
  using <span itemprop="wordCount">{{ .WordCount }}</span> words.
  
  {{ with .Params.tags }}
    <br>
    tags: {{ delimit (apply (apply (sort .) "partial" "post/tag-link" ".") "chomp" ".") ", " " and " }}
  {{ end }}

  {{ with .Params.people }}
    <br>
    people: {{ delimit (apply (apply (sort .) "partial" "post/people-link" ".") "chomp" ".") ", " " and " }}
  {{ end }}

  {{ with .Params.places }}
    <br>
    places: {{ delimit (apply (apply (sort .) "partial" "post/places-link" ".") "chomp" ".") ", " " and " }}
  {{ end }}
</p>
