section#sidebar {
  float: right;
  width: 10rem;
}

figure img {
  width: 100%;
}

.gallery-thumbnail {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

footer {
  clear: both;
}

figure.file {
  width: 200px;
}